body{
    background-image: url("https://images.all-free-download.com/images/graphicthumb/fast_food_background_various_symbols_sketch_repeating_design_6828045.jpg");
    font-family: sans-serif;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    border: 0;
}

.jumbotron{
    background: green;
    color: #ffff;
    border-radius: 5px;
    margin-bottom: 20px;
}

.pageTitle, .lead {
    text-align: center;
    margin: 0;
}

.pageTitle {
    margin: 0;
}

#submit {
    background: green;
}

.card{
    padding: 10px;
    margin: 0px 0px 20px 0px;
    background: lightskyblue;
    color: #ffff;
}

 .mainCards{
     margin: 0;
     padding: 0;
 }

 img{
     float: right;
 }
 