body{
    background-image: url("https://images.all-free-download.com/images/graphicthumb/fast_food_background_various_symbols_sketch_repeating_design_6828045.jpg");
    font-family: sans-serif;
}

.display-4, .lead {
    text-align: center;
}

.card{
    margin-bottom: 32px;
    padding: 0px;
}

 .mainCards{
     margin: 0;
     padding: 0;
 }

 .jumbotron, .card-header{
     background: darkmagenta;
     color: #ffff;
 }

 .card-body{
     background: darkcyan;
     color: #ffff;

 }